<!-- If you can find a better side bar fantastic....this whole page needs work, can only access this page from the login botton-->
<link href="https://bootswatch.com/4/solar/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://bootswatch.com/4/solar/_bootswatch.scss"></script>
<script src="https://bootswatch.com/4/solar/_variables.scss"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<br>
<h1>Settings and Preferences</h1>
<form>
    <fieldset>
        <!-- <legend>Profile Settings</legend>
        <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div> -->
        <!-- event settings -->
        <div class="form-group" style="max-width:30%" [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
          <fieldset>
            <br>
            <h3>Change your Password</h3>
            <label class="control-label" for="disabledInput">New password</label>
            <input class="form-control" formControlName="newPass" id="disabledInput" type="text" placeholder="">
            <label class="control-label" for="disabledInput">Confirm new password</label>
            <input class="form-control" formControlName="newPassConfirm" id="disabledInput" type="text" placeholder="">
            <br>
            <button type="button" class="btn btn-primary">Submit new password</button>
          </fieldset>
        </div>
        <div class="form-group" style="max-width:30%" [formGroup]="deleteAccountForm" (ngSubmit)="onDeleteAccountSubmit()">
          <fieldset>
            <br>
            <h3>Delete your Account</h3>
            <label class="control-label" for="disabledInput">Enter your password to confirm account deletion</label>
            <input class="form-control" formControlName="deleteAccountConfirm" id="disabledInput" type="text" placeholder="">
            <br>
            <button type="submit" class="btn btn-warning">Delete account</button>
          </fieldset>
        </div>
    </fieldset>

</form>
