<h2 style="color:white;">Meet the Developers</h2>
<p>We're a small group of University of Central Florida students who wanted to create something cool as our COP4331 class project.</p>
<!--Got table design from bootswath or whatever, add info change info i was just messing around-->
<br>
<table class="table table-hover">
  <thead>
    <tr class='table-dark'>
      <th scope="col">Developer</th>
      <th scope="col">Roles</th>
      <th scope="col">School Year</th>
      <th scope="col">Hobby</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kenneth Sauers</th>
      <td>Project Management</td>
      <td>???</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">Misty Au</th>
      <td>Project Documentation</td>
      <td>???</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">Kyle Reid</th>
      <td>Front End</td>
      <td>???</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">Christopher Dowlatram</th>
      <td>Front End</td>
      <td>???</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">Mykola Maslych</th>
      <td>Mobile & Deployment</td>
      <td>Sophomore</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">José Luis</th>
      <td>API, Databasing</td>
      <td>???</td>
      <td>???</td>
    </tr>
    <tr>
      <th scope="row">Jorge Nuñez</th>
      <td>API, Databasing</td>
      <td>Senior</td>
      <td>Flight Simulation</td>
    </tr>
  </tbody>
</table>
<br>
<br>
