<h2 style="color:white;">Who We Are</h2>
<p>We are a small group of University of Central Florida students who wanted to create something cool.</p>
<!--Got table design from bootswath or whatever, add info change info i was just messing around-->
<br>
<table class="table table-hover">
  <thead>
    <tr class='table-dark'>
      <th scope="col">Members</th>
      <th scope="col">Roles</th>
      <th scope="col">Email</th>
      <th scope="col">Hobby</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Kyle Reid</th>
      <td>Front-End</td>
      <td>kylereid@knights.ucf.edu</td>
      <td>people watching</td>
    </tr>
    <tr>
      <th scope="row">Christopher Dowlatram</th>
      <td>Front-End</td>
      <td>Column content</td>
      <td>dragon slayer</td>
    </tr>
    <tr>
      <th scope="row">Kenneth Sauers</th>
      <td>Project Manager & Database</td>
      <td>Column content</td>
      <td>korean lover</td>
    </tr>
    <tr>
      <th scope="row">Misty Vu</th>
      <td>API</td>
      <td>Column content</td>
      <td>binge watcher</td>
    </tr>
    <tr>
      <th scope="row">Jose Luis</th>
      <td>Database</td>
      <td>Column content</td>
      <td>pokemon hunter</td>
    </tr>
    <tr>
      <th scope="row">Mykola Maslych</th>
      <td>Database</td>
      <td>Column content</td>
      <td>Pimpin</td>
    </tr>
    <tr>
      <th scope="row">Jorge Nunez</th>
      <td>Javascript & API</td>
      <td>Column content</td>
      <td>IT research</td>
    </tr>
  </tbody>
</table> 
<br>
<br>

<!-- IDK if we want this but something just to have honestly can just be for show lol-->
<form>
  <fieldset>
    <legend>Contact Us</legend>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleTextarea">Comments</label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>