<!-- i think it looks good, maybe change my quotes or the image but i like it for now-->
<body style="max-width: 120%;">
  <div class="jumbotron">
    <h1 class="display-3">Keep track of everything anywhere!</h1>
    <p class="lead">Any event can lead to success, find one and go. <sup>Mean Team</sup></p>
    <hr class="my-4">
    <p>Click below to find out who we are.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
    </p>
  </div>
</body>
<!-- columns for user experiences -->
<div class="row">
  <!-- first column -->
    <div class="column" id="left">
      <div class="card border-dark mb-3" style="max-width: 90rem;">
          <div class="card-header">Real user experience</div>
          <div class="card-body">
            <h4 class="card-title">Kenneth - Dallas, TX</h4>
            <p class="card-text">"This Website is amazing, i wish i had this back in my day. Thanks Mean Team! You Rock"</p>
          </div>
      </div>

      <div class="card border-dark mb-3" style="max-width: 90rem;">
          <div class="card-header">Real user experience</div>
          <div class="card-body">
            <h4 class="card-title">Susan - Orlando, FL</h4>
            <p class="card-text">"This website is Great!! I even recommended it to a friend. Thanks Mean Team :D"</p>
          </div>
      </div>
      <!-- end first column -->
    </div>
    <!-- second column -->
    <div class="column" id="right">
      <div class="card border-dark mb-3" style="max-width: 100rem;">
          <div class="card-header">Real user experience</div>
          <div class="card-body">
            <h4 class="card-title">Larry - New York, NY</h4>
            <p class="card-text">"Wow, i thought i was going to forget my daughters birthday, but Remind-It helped me remember!"</p>
          </div>
      </div>

      <div class="card border-dark mb-3" style="max-width: 100rem;">
          <div class="card-header">Real user experience</div>
          <div class="card-body">
            <h4 class="card-title">Kyle - Miami, FL</h4>
            <p class="card-text">"Wow, I Think this is a great website and the app is great also! I thought i'd never remember any thing ever again! Thanks Mean Team"</p>
          </div>
      </div>
      <!-- end of second column -->
    </div>
    <!-- end of all columns -->
  </div>


