<!-- i think it looks good, maybe change my quotes or the image but i like it for now-->

<body>
  <div class="jumbotron">
    <h1 class="display-3">Keep track of what and where with Remind-It!</h1>
    <p class="lead">Explore and connect back with your surroundings.</p>
    <hr class="my-4">
    <p>Click below to get to know the MEAN Team.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">About us</a>
    </p>
  </div>
</body>
<!-- columns for user experiences -->
<div class="row" style="max-width: 100%;">
  <!-- first column -->
  <div class="column" id="left">
    <div class="card border-dark mb-3">
      <div class="card-header">Real User Experience</div>
      <div class="card-body">
        <h4 class="card-title">Kenneth - Dallas, TX</h4>
        <p class="card-text">"This website is amazing, I wish I had this back in my day. You Rock!"</p>
      </div>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-header">Real User Experience</div>
      <div class="card-body">
        <h4 class="card-title">Susan - Orlando, FL</h4>
        <p class="card-text">"This website is Great!! I even recommended it to a friend. Thanks MEAN Team! :D"</p>
      </div>
    </div>
    <!-- end first column -->
  </div>
  <!-- second column -->
  <div class="column" id="right">
    <div class="card border-dark mb-3">
      <div class="card-header">Real User Experience</div>
      <div class="card-body">
        <h4 class="card-title">Larry - New York City, NY</h4>
        <p class="card-text">"Wow, I thought I was going to forget my daughters birthday, but Remind-It helped me
          remember!"</p>
      </div>
    </div>

    <div class="card border-dark mb-3">
      <div class="card-header">Real User Experience</div>
      <div class="card-body">
        <h4 class="card-title">Kyle - Miami, FL</h4>
        <p class="card-text">"This is such a great app! I was worried I'd never remember literally anything ever again!
          Thanks, MEAN Team."</p>
      </div>
    </div>
    <!-- end of second column -->
  </div>
  <!-- end of all columns -->
</div>