/* dont touch the css!!! -.- aligns perfectly with edge of page */
#left{
    width: 47%;
    margin-left:2%;
    margin-right:1%;
}

#right{
    width:47%;
    margin-left:1%;
    margin-right:2%;
}
