<!-- i think it looks good, maybe change my quotes or the image but i like it for now-->
<body>
  <div class="jumbotron">
    <h1 class="display-3">Keep track of everything anywhere!</h1>
    <p class="lead">Any event can lead to success, find one and go. <sup>Mean Team</sup></p>
    <hr class="my-4">
    <p>Click below to find out who we are.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
    </p>
  </div>
</body>


<img src='https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif' width="100%">

