<link href="https://bootswatch.com/4/solar/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://bootswatch.com/4/solar/_bootswatch.scss"></script>
<script src="https://bootswatch.com/4/solar/_variables.scss"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.css">
<!--DONT TOUCH ANY CODE ABOVE, its required for the style/design to run smoothly-->

<!--Entire form container-->
<article class="card-body mx-auto">
  <ngb-alert *ngIf="success" type="success" (close)="success = null">{{ message }}</ngb-alert>
  <ngb-alert *ngIf="success != null && !success" type="danger" (close)="success = null">{{ message }}</ngb-alert>
  <div class="modal-header">
    <h4 class="modal-title mb-4 mt-1">Let Remind-It, Remind You.</h4>
    <button type="button" class="close" aria-label="Close" (click)="this.activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control" placeholder="Name" type="text" formControlName="name" required maxlength="32">
      </div> <!-- form-group// -->
      <div class="form-group">
        <textarea class="form-control" placeholder="Description" formControlName="description" required
          rows="3"></textarea>
      </div> <!-- form-group// -->
      <div class="form-group">
        <div class="row">
          <ngb-timepicker class="col-sm" formControlName="time" [meridian]="true" [size]="small"></ngb-timepicker>
          <div class="col-sm d-flex align-items-center">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dueDate" ngbDatepicker
              #d="ngbDatepicker" (focus)="d.toggle()" required>
          </div>
        </div>
      </div> <!-- form-group-->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="isRepeating" id="checkBoxRepeating">
        <label class="form-check-label" for="checkBoxRepeating">Is it Repeating?</label>
      </div> <!-- form-check// -->
    </div> <!-- modal-body-->
    <div class="modal-footer align-items-center">
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!createEventForm.valid">Create Event</button>
      </div> <!-- form-group// -->
    </div> <!-- modal footer -->
  </form><!-- form-->
</article><!-- card.// -->