<div class="container" style="padding-top:2%">
  <article class="card-body mx-auto" style="max-width: mx-auto">
    <h2 class="card-title mb-4 mt-1">Event Viewer</h2>
    <form [formGroup]="eventViewForm">
      <div class="form-group">
        <label class="control-label" for="eventNameText">Name</label>
        <input class="form-control" formControlName="name" id="eventNameText" type="text" placeholder="">
        <label for="descriptionTextArea">Description</label>
        <textarea class="form-control" formControlName="description" id="descriptionTextArea" rows="5"></textarea>
      </div>
      <div class="form-group">
        <div class="row">
          <ngb-timepicker class="col-sm" formControlName="time" [meridian]="true" [size]="small"></ngb-timepicker>
          <div class="col-sm d-flex align-items-center">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="dueDate" ngbDatepicker
              #d="ngbDatepicker" required>
          </div>
        </div>
      </div> <!-- form-group-->
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="mustBeNear" id="checkBoxNear">
        <label class="custom-control-label" for="checkBoxNear">Enforce geolocation proximity</label>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <!-- Check this out, looks prettier, but I preserved the code below in case this doesn't work.  -- Jorge -->
          <input type="checkbox" class="custom-control-input" formControlName="isRepeating" id="checkBoxRepeating">
          <label class="custom-control-label" for="checkBoxRepeating">Repeats</label>
        </div>

        <div id="collapsedRepeating" [ngbCollapse]="!(eventViewForm.get('isRepeating').value)">
          <div class="row">
            <label for="selectPickerRepeat col-md">Choose a unit of time</label>
            <select class="form-control-sm col-sm" name="repeatUnit" formControlName="repeatUnit"
              id="selectPickerRepeat">
              <option *ngFor="let freq of repeatingFrequencies" [ngValue]="freq.value">{{ freq.name }}</option>
            </select>
          </div>

          <div class="form-group">
            <h4>How many units of time must pass?</h4><br>
            <input class="form-control" placeholder="repeatConst" type="text" formControlName="repeatConst" required
              maxlength="32">
          </div> <!-- form-group// -->
        </div>
      </div>
    </form>
  </article>
</div> <!-- card.// -->
