<div class="container">
  <article class="card-body mx-auto" style="max-width: mx-auto">
    <ngb-alert *ngIf="message != null" type="danger" (close)="message = null">{{ message }}</ngb-alert>
    <h2 class="card-title mb-4 mt-1">Reminder Viewer</h2>
    <form [formGroup]="reminderViewForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <fieldset disabled="">
          <label class="control-label" for="disabledInput">Name</label>
          <input class="form-control" formControlName="name" id="disabledInput" type="text" placeholder="">
          <label for="exampleTextarea">Description</label>
          <textarea class="form-control" formControlName="description" id="exampleTextarea"  rows="5"></textarea>
        </fieldset>
      </div>
    </form>
  </article>
</div> <!-- card.// -->
