<!--DOnt mess with the nav bar or ill kill you unless you can get it to drop down when screen is minimized :D-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Remind-It</a>
  <div class="navbar-collapse auto" id="navbarColor02" style="">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/login">login</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/register">register</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  </div>
</nav>