<!-- If you can find a better side bar fantastic....this whole page needs work, can only access this page from the login botton-->
<link href="https://bootswatch.com/4/solar/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://bootswatch.com/4/solar/_bootswatch.scss"></script>
<script src="https://bootswatch.com/4/solar/_variables.scss"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
        table, th, td {
          border: 1px solid black;
        }
</style>
<!-- dont mess with my table or you will die -->
<table width="70%" style="align-content: center">
    <tr>
        <!-- dont mess with the widths its perfect -->
        <th style="width:29%"><h1>PERSONAL</h1></th>
        <th style="width:39%"><h1>PUBLIC</h1></th>
        <th style="width:75%"><h1>UCF</h1></th>
    </tr>
    <tr>
        <!-- sett up borders or somthing to seperate each lists of events -->
        <td>personal events go here</td>
        <td>public events go here</td>
        <td>UCF events go here</td>
    </tr>
    <tr>
        <td>personal events go here</td>
        <td>public events go here</td>
        <td>UCF events go here</td>
    </tr>
    <tr>
        <td>personal events go here</td>
        <td>public events go here</td>
        <td>UCF events go here</td>
    </tr>
</table>
<button type="button" class="btn btn-primary">add button</button>
<button type="button" class="btn btn-primary">Delete button</button>


<br>
<br>
<br>
<br>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="/userpage">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="/events">Events</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/maps">Maps</a>
    </li>
    <li class="nav-item">
            <a class="nav-link active" href="/home">Sign-out</a>
    </li>
    <li class="nav-item">
            <a class="nav-link active" href="/register">Delete</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade show active" id="home">
        <p>Event page add and delete events you add</p>
    </div>
</div>