/* side bar */
body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:#354545;
  }
  .main_sidebar {
    min-height:100vh;
    position:fixed;
    top:50;
    left:0;
    width:350px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
  }
  .main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
  }
  .main_sidebar ul {
    list-style:none;
    padding-left:48px;
  }
  .main_sidebar ul li {
    padding:10px;
  }
  .main_sidebar ul li a {
    color:#fff;
    display:block;
  }
  .main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-48px;
    font-size:24px;
    padding-left:7px;
  }
  .main_sidebar ul li:hover {
    background:#167696;
  }
  .main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
  }
  .main_sidebar ul li:hover i {
    color:#fff;
  }
  .main_sidebar ul li.active {
    background:#0f4698;
  }
  .main_sidebar ul li.active i {
    color:#fff;
  }
  .main_sidebar ul li.active:hover {
    background:#167696;
  }
  .main_sidebar ul li.active:hover i {
    color:#fff;
  }
  
  .main {
    float:right;
    color:#fff;
    display:block;
    width:100%;
    background:red;
    min-height:100vh;
  }
  
  
  
  
  /* User profile */
  body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  }
  .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
  }
  .profile-img{
    text-align: center;
  }
  .profile-img img{
    width: 70%;
    height: 100%;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
  .profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
  }
  .profile-head h5{
    color: #333;
  }
  .profile-head h6{
    color: #0062cc;
  }
  .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }
  .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }
  .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
  .profile-head .nav-tabs{
    margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
  }
  .profile-work{
    padding: 14%;
    margin-top: -15%;
  }
  .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }
  .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }
  .profile-work ul{
    list-style: none;
  }
  .profile-tab label{
    font-weight: 600;
  }
  .profile-tab p{
    font-weight: 600;
    color: #0062cc;
  }
  
  /* lists */
  