<!-- If you can find a better side bar fantastic....this whole page needs work, can only access this page from the login botton-->
<link href="https://bootswatch.com/4/solar/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://bootswatch.com/4/solar/_bootswatch.scss"></script>
<script src="https://bootswatch.com/4/solar/_variables.scss"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--google maps ifram... figure out where to put it-->



<div id="myTabContent" class="tab-content">
<div class="tab-pane fade show active" id="home">
    <p>Maps page does things</p>
</div>

<div id='gmaps' class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0" align="right"></iframe>
</div>
