.sidenav {
    width: 120px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0px;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: black;
    border-radius: 4px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: teal;
    display: block;
  }
  
  .sidenav a:hover {
    color:teal;
  }
