<!-- i think it looks good, maybe change my quotes or the image but i like it for now-->
<body>
  <div class="jumbotron">
    <h1 class="display-3">Do things for tomorrow today!</h1>
    <p class="lead">Even the smallest steps move you forward. <sup>Oprah Whinfrey</sup></p>
    <hr class="my-4">
    <p>Every small step in the right direction counts.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
    </p>
  </div>
</body>


<img src='/assets/images/cityscape.jpg'>

