/* dont touch the css!!! -.- aligns perfectly with edge of page */
#main{
  width:56%;
  margin-top:1%;
  margin-left: 2%;
  margin-right: 2%;
}

#side{
  width:38%;
  margin-top:1%;
  margin-right: 2%;
  background-color: #253238;
}

.table tr.active td {
  background-color:#123456 !important;
  color: white;
}
