<table>
    <tr>
        <th><h1>Title</h1></th>
        <th><h1>Description</h1></th>
        <th><h1>Due</h1></th>
    </tr>
    <tr class="table-secondary">
        <!-- sett up borders or somthing to seperate each lists of events -->
        <td>Go to Class</td>
        <td>I need to go to class because I never do.</td>
        <td>Mo, 2019-04-15, 12:00 p.m.</td>
    </tr>
    <tr class="table-secondary">
        <td>Do Laundry</td>
        <td>Stop wearing hoodies in Florida.</td>
        <td>Fr, 2019-04-12, 11:59 p.m.</td>
    </tr>
    <tr class="table-secondary">
        <td>Finish Website</td>
        <td>Holy fuck I hate Angular it's so big and bloated.</td>
        <td>Tu, 2019-04-16, 11:59 p.m.</td>
    </tr>
</table>
<button type="button" class="btn btn-success">Create Event</button>
<!--button type="button" class="btn btn-danger">Delete Event</button-->
